# Auxillary files for vimtex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.lof
*.xml
*.gz
*.toc


# Hide the data and litterature
/code/dataset/
/code/extracted_data/
/literature/
/code/models/


# Personal files
notes.txt
questions.txt
