# Auxillary files for vimtex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.xml
*.gz


# Hide the data
/code/dataset/
/code/extracted_data/
/litterature/kaiser.pdf
/code/figures/
/code/models/
